[submodule "electronDIY/AnoFly"]
	path = electronDIY/AnoFly
	url = git@github.com:Think-Fly/AnoFly.git
[submodule "electronDIY/crazyflie-firmware"]
	path = electronDIY/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
[submodule "electronDIY/crazepony-firmware-none"]
	path = electronDIY/crazepony-firmware-none
	url = git@github.com:Crazepony/crazepony-firmware-none.git
[submodule "electronDIY/crazepony-remote-none"]
	path = electronDIY/crazepony-remote-none
	url = git@github.com:Crazepony/crazepony-remote-none.git
[submodule "electronDIY/Cubli_Mini"]
	path = electronDIY/Cubli_Mini
	url = git@github.com:ZhaJiHu/Cubli_Mini.git
[submodule "electronDIY/cubli-firmware"]
	path = electronDIY/cubli-firmware
	url = git@github.com:fbobrow/cubli-firmware.git
