[submodule "electronDIY/AnoFly"]
	path = electronDIY/AnoFly
	url = git@github.com:Think-Fly/AnoFly.git
[submodule "electronDIY/crazyflie-firmware"]
	path = electronDIY/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
[submodule "electronDIY/crazepony-firmware-none"]
	path = electronDIY/crazepony-firmware-none
	url = git@github.com:Crazepony/crazepony-firmware-none.git
[submodule "electronDIY/crazepony-remote-none"]
	path = electronDIY/crazepony-remote-none
	url = git@github.com:Crazepony/crazepony-remote-none.git
[submodule "electronDIY/Cubli_Mini"]
	path = electronDIY/Cubli_Mini
	url = git@github.com:ZhaJiHu/Cubli_Mini.git
[submodule "electronDIY/cubli-firmware"]
	path = electronDIY/cubli-firmware
	url = git@github.com:fbobrow/cubli-firmware.git
[submodule "electronDIY/qmk_firmware"]
	path = electronDIY/qmk_firmware
	url = git@github.com:qmk/qmk_firmware.git
[submodule "codingGuide/secguide"]
	path = codingGuide/secguide
	url = git@github.com:P-shuaiwang/secguide.git
[submodule "codingGuide/safe-rules"]
	path = codingGuide/safe-rules
	url = git@github.com:P-shuaiwang/safe-rules.git
[submodule "electronDIY/esp-drone"]
	path = electronDIY/esp-drone
	url = git@github.com:P-shuaiwang/esp-drone.git
[submodule "electronDIY/betaflight"]
	path = electronDIY/betaflight
	url = git@github.com:BETAFPV/betaflight.git
[submodule "electronDIY/StanfordQuadruped"]
	path = electronDIY/StanfordQuadruped
	url = git@github.com:stanfordroboticsclub/StanfordQuadruped.git
[submodule "electronDIY/MiniRover-Hardware"]
	path = electronDIY/MiniRover-Hardware
	url = git@github.com:peng-zhihui/MiniRover-Hardware.git
[submodule "electronDIY/esp32s3-keyboard"]
	path = electronDIY/esp32s3-keyboard
	url = git@github.com:hhuysqt/esp32s3-keyboard.git
[submodule "electronDIY/hexapod-v2-7697"]
	path = electronDIY/hexapod-v2-7697
	url = git@github.com:SmallpTsai/hexapod-v2-7697.git
[submodule "electronDIY/X-Bot"]
	path = electronDIY/X-Bot
	url = git@github.com:HogwartsRico/X-Bot.git
[submodule "electronDIY/ONE-Robot"]
	path = electronDIY/ONE-Robot
	url = git@github.com:peng-zhihui/ONE-Robot.git
[submodule "electronDIY/smartknob"]
	path = electronDIY/smartknob
	url = git@github.com:scottbez1/smartknob.git
[submodule "motor/Arduino-FOC"]
	path = motor/Arduino-FOC
	url = https://github.com/simplefoc/Arduino-FOC.git
[submodule "electronDIY/esp32_mouse_keyboard"]
	path = electronDIY/esp32_mouse_keyboard
	url = https://github.com/asterics/esp32_mouse_keyboard.git
[submodule "motor/Deng-s-foc-controller"]
	path = motor/Deng-s-foc-controller
	url = https://github.com/ToanTech/Deng-s-foc-controller.git
[submodule "motor/miniFOC"]
	path = motor/miniFOC
	url = https://github.com/ZhuYanzhen1/miniFOC.git
[submodule "algorithm/quaternion"]
	path = algorithm/quaternion
	url = https://github.com/Krasjet/quaternion.git
[submodule "electronDIY/X-TRACK"]
	path = electronDIY/X-TRACK
	url = https://github.com/peng-zhihui/X-TRACK.git
[submodule "electronDIY/zmk"]
	path = electronDIY/zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "electronDIY/HelloWord-Keyboard"]
	path = electronDIY/HelloWord-Keyboard
	url = https://github.com/peng-zhihui/HelloWord-Keyboard.git
[submodule "cpp_open_library/folly"]
	path = cpp_open_library/folly
	url = https://github.com/facebook/folly.git
[submodule "cpp_open_library/workflow"]
	path = cpp_open_library/workflow
	url = https://github.com/sogou/workflow.git
[submodule "cpp_open_library/sylar"]
	path = cpp_open_library/sylar
	url = https://github.com/sylar-yin/sylar.git
[submodule "motor/ODrive"]
	path = motor/ODrive
	url = https://github.com/odriverobotics/ODrive.git
[submodule "cpp_open_library/muduo"]
	path = cpp_open_library/muduo
	url = https://github.com/chenshuo/muduo.git
